@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {

  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}


.custom-scrolltop {
  width: 2rem;
  height: 2rem;
  border-radius: 4px;
  background-color: var(--primary-color) !important;
}

.custom-scrolltop:hover {
  background-color: var(--primary-color) !important;
}

.custom-scrolltop .p-scrolltop-icon {
  font-size: 1rem;
  color: var(--primary-color-text);
}



/* Grid Vehicleso.css */
.gridPageVehicles {
  display: grid;
  grid-template: "a b b"
    "a b b";
    gap: 10px;
}


.grid__part_a {
  grid-area: a;
}

.grid__part_b {
  grid-area: b;
}
.grid__cards{
  display: grid;
  gap: 15px;
  grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
}

@media screen and (max-width: 950px) {
  .gridPageVehicles {
    grid-template: "a a a"
      "b b b";
  }


}